<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件渲染</title>
    <script src="../../vue.js"></script>
    <style type="text/css">
        .font{
            font-size: large;
        }
        .cs1{
            background-color: black;
        }
        .cs2{
            background-color: aliceblue;
        }
        .cs3{
            background-color: aqua;
        }
    </style>
</head>
<!--

-->
<body>

    <div class="weather">
        <!--v-show做条件渲染 在查看源代码中可以显示
        只是通过将display的属性值设置为none，进行隐藏
        也就是结点还存在只是调属性
        <span v-show="true">条件渲染</span>
        <span v-show="1 === 1">条件渲染</span>-->

        <!--v-if做条件渲染的话可以源代码中是看不到的
        也就是结点不存在然后添加和删除结点
        如果变化频繁相对v-show更加小号性能
        <span v-if="true">条件渲染</span>
        <span v-if="1===1">条件渲染</span>-->

        <!--使用v-if、v-else-if、v-else组合必须
        要连续使用如果中间打断会报错-->

        <!--template标签不会破坏结构但是只能和v-if配合使用-->
        <template v-if="true">
            <span>1</span>
            <span>1</span>
        </template>
    </div>


</body>
<script type="text/javascript">
    const vm = new Vue({
        el:'.weather',
        data:{

        },
        methods:{
            change(){
                const arr = ['cs1','cs2','cs3']
                const index = Math.floor(Math.random()*3)
                this.style = arr[index]
            }
        }
    })

</script>
</html>